//fonts
$basic-family: "Roboto", "Arial", "Helvetica", "Oswald", sans-serif;
$second-family: "Oswald", Arial, sans-serif;
$arial-family: Arial, sans-serif, "Oswald";
//container
$container-min-width: 320px;
$container-max-width: 1440px;

//background-color
$body-bg: #ffffff;
$header-bg-white: #ffffff;
$burger-bg-black: #000000;
$button-bg-green: #68b738;
$button-bg-opacity: #5eaa2f;
$case-bg-green: #68b738;
$case-bg: #f2f2f2;
$case-bg-black: #000000;
$description-bg-white: #ffffff;
$link-bg-green: #68b738;
$link-bg-white: #ffffff;
$link-bg-pink: #F2F2F2;


//border
$nav-border: #e6e6e6;
$link-border: #d9d9d9;

//line
$nav-line-green: #68b738;
$nav-line-white: #ffffff;

//color
$brand-color: #000000;
$header-color-black: #000000;
$title-color-white: #ffffff;
$title-color-black: #000000;
$subtitle-color-white: #ffffff;
$button-color-white: #ffffff;
$button-color-opacity: rgba(255, 255, 255, 0.3);
$nav-color-black: #000000;
$nav-color-hover: rgba(0, 0, 0, 0.6);
$nav-color-focus: rgba(0, 0, 0, 0.3);
$nav-color-hover-white: rgba(255, 255, 255, 0.6);
$nav-color-focus-white: rgba(255, 255, 255, 0.3);
$nav-color-white: #ffffff;
$case-color-grey: #444444;
$link-color-black: #000000;

//media
$xs: 350px;
$sm: 556px;
$md: 768px;
$lg: 1200px;
