// .cat-slider {
//   position: relative;
//   display: inline-grid;
//   margin-bottom: 20px;
//   @include media($md) {
//     margin-bottom: 6px;
//   }
//   @include media($lg) {
//     margin-bottom: 0;
//   }
// }
// .cat-slider__item{
//   grid-column: 1/-1;
//   grid-row: 1/-1;
//   display: flex;
//   justify-content: center;
//   clip-path: inset(0 0 0 var(--slider-move-right, 50%));
// }
// .cat-slider__item:first-child {
//   clip-path: inset(0 var(--slider-move-left, 50%) 0 0);
// }
.slider {
  position: relative;
  display: inline-grid;
}

.slider__item {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  clip-path: inset(0 0 0 var(--slider-value, 50%));
}

.slider__item:first-of-type {
  clip-path: inset(0 calc(100% - var(--slider-value, 50%)) 0 0);
}

.slider__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider__range {
  --range-height: 16px;
  --range-thumb-height: 24px;
  --range-color: rgba(255, 255, 255, 0.2);
  --range-thumb-color: rgba(255, 255, 255, 0.7);
  box-sizing: content-box;
  height: var(--range-height);
  padding-top: 100%;
  width: 32%;
  position: absolute;
  bottom: -38px;
  left: 94px;
  right: 0;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  // background: linear-gradient(
  //   0deg,
  //   var(--range-color) var(--range-height),
  //   transparent var(--range-height)
  // );
  @include media($md) {
    width: 63%;
    bottom: -20px;
    left: 87px;
  }
}
.slider__range:focus,
.slider__range:active {
  outline: none;
  border: none;
}
.slider__range::-moz-range-track {
  -moz-appearance: none;
  height: var(--range-height);
  width: 100%;
  background-color: transparent;
  position: relative;
  outline: none;
}
.slider__range::-moz-range-thumb {
  -moz-appearance: none;
  width: var(--range-thumb-height);
  height: var(--range-height);
  background: var(--range-thumb-color);
  border-radius: 0;
  border: 0;
}
.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--range-thumb-height);
  height: var(--range-height);
  background: var(--range-thumb-color);
  border-radius: 0;
}
.slider__range:focus::-webkit-slider-thumb {
  background: var(--range-color);
}
.slider__range:focus::-moz-range-thumb {
  background: var(--range-color);
}
