.cat-slider {
  position: relative;
  display: inline-grid;
  margin-bottom: 20px;
  @include media($md) {
    margin-bottom: 6px;
  }
  @include media($lg) {
    margin-bottom: 0;
  }
}
.cat-slider__item{
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  clip-path: inset(0 0 0 var(--slider-move-right, 50%));
}
.cat-slider__item:first-child {
  clip-path: inset(0 var(--slider-move-left, 50%) 0 0);
}