.description {
  border-bottom: 1px solid $description-border;
  @include media($lg) {
    border-bottom: 1px solid transparent;
  }
}
.description__container {
  background-color: $description-bg-white;
  padding-bottom: 29px;
  @include media($md) {
    padding-top: 15px;
    padding-bottom: 101px;
    max-width: 768px;
  }
  @include media($lg) {
    padding-top: 72px;
    max-width: 1440px;
  }
}
.description__title {
  margin-bottom: 40px;
  padding-right: 55px;
  @include media($md) {
    align-self: flex-start;
    margin-bottom: 71px;
    padding-left: 10px;
  }
  @include media($lg) {
    padding-left: 0;
  }
}
