.example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__wrap {
}
.example__title {
}
.example__desc {
  max-width: 280px;
}
.example__wrap-desc {
}
.example__wrap-line {
}
.example__wrap-text {
}
.example__text {
}
.example__subtext {
}
.example__result {
}
