.logo__img {
  display: block;
  @include media($md) {
    width: 174px;
    height: 52px;
  }
  @include media($lg) {
    width: 202px;
    height: 60px;
  }
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    opacity: 0.6;
  }
}
