.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nav__list {
  list-style-type: none;
  width: 100%;
  @include media($md) {
    display: flex;
    justify-content: flex-end;
  }
}
.nav__item {
  position: relative;
  text-align: center;
  list-style-type: none;
  border-top: 1px solid $nav-border;
  z-index: 2;
  @include media($md) {
    box-shadow: none;
    width: auto;
    border-top: 1px solid transparent;
  }
}
.nav__item:last-child {
  border-bottom: 1px solid $nav-border;
  @include media($md) {
    border-bottom: 1px solid transparent;
  }
}
.nav__item:not(:last-child) {
  @include media($md) {
    margin-right: 13px;
  }
  @include media($lg) {
    margin-right: 35px;
  }
}
.nav__link {
  color: $nav-color-black;
  @include font(20px, 20px, 500, $second-family);
  display: block;
  padding: 20px 10px;
  @include media($md) {
    padding: 16px 12px 15px 10px;
    @include font(18px, 24px, 400, $second-family);
  }
  @include media($lg) {
    padding: 15px 0 10px;
    color: $nav-color-white;
    @include font(20px, 30px, 400, $second-family);
  }
  &:hover {
    color: $nav-color-hover;
    @include media($lg) {
      color: $nav-color-hover-white;
    }
  }
  &:focus {
    color: $nav-color-focus;
    @include media($lg) {
      color: $nav-color-focus-white;
    }
  }
}
.nav__link--active {
  position: relative;
}
.nav__link--active::after {
  @include media($md) {
    content: " ";
    position: absolute;
    left: 50%;
    top: 49px;
    right: 0;
    height: 2px;
    background-color: $nav-line-green;
    width: 63px;
    transform: translateX(-50%);
    opacity: 1;
  }
  @include media($lg) {
    background-color: $nav-line-white;
    width: 70px;
    top: 52px;
  }
}


