.progress {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress__range {
  transition: transform 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
  -webkit-appearance: none !important;
  height: 14px;
  background-color: $progress-bg-white;
  cursor: pointer;
  border: 1px solid $progress-border;
  border-radius: 10%;
  margin: 0 18px;
  width: 85px;
  @include media($md) {
    width: 426px;
    height: 6px;
    background-color: $progress-bg-pink;
  }
}
.progress__range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: $progress-bg-green;
  height: 6px;
  width: 45px;
  border-radius: 10%;
  @include media($md) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $progress-bg-green;
    border: 13px solid $progress-bg-white;
    position: relative;
    outline: 1px solid $progress-border;
  }
}
.progress__result {
  color: $progress-color-black;
  @include font(16px, 20px, 400, $second-family);
  @include media($md) {
    @include font(20px, 30px, 400, $second-family);
    border-bottom: 2px dashed $progress-border;
  }
}
