.slaider {
  position: relative;
  height: 270px;
  max-width: 320px;
  @include media($md) {
    max-width: 591px;
    height: 505px;
  }
  @include media($lg) {
    position: absolute;
    top: -35px;
    right: 78px;
  }
}
.slaider__one {
  display: block;
  width: 250px;
  height: 230px;
  margin-left: 42px;
  margin-bottom: 22px;
  background: url("../img/example/cat-skinny-mobile-2x.png") no-repeat;
  transition: transform 0.2s ease, opacity 0.2s ease;
  overflow: hidden;
  background-size: 100%;
  @include media($md) {
    background: -webkit-image-set(
        url("../img/example/cat-skinny-tablet-1x.png") 1x,
        url("../img/example/cat-skinny-tablet-2x.webp") 2x
      )
      no-repeat;
    background: image-set(
        url("../img/example/cat-skinny-tablet-1x.png") 1x,
        url("../img/example/cat-skinny-tablet-2x.webp") 2x
      )
      no-repeat;
    width: 470px;
    height: 500px;
    margin-bottom: 27px;
  }
  @include media($lg) {
    margin-bottom: 54px;
  }
}
.slaider__two {
  position: absolute;
  width: 280px;
  height: 230px;
  left: 0;
  top: 0;
  background-color: $slaider-bg-pink;
  transition: transform 0.2s ease, opacity 0.2s ease;
  overflow: hidden;
  @include media($md) {
    background: linear-gradient(
      to top,
      $slaider-bg-pink 68%,
      $slaider-bg-white 0%
    );
    width: 591px;
    height: 510px;
    top: -10px;
  }
  @include media($lg) {
    background: linear-gradient(
      to top,
      $slaider-bg-pink 61%,
      $slaider-bg-white 0%
    );
    top: -9px;
    left: -21px;
  }
}
.slaider__two::before {
  content: " ";
  position: absolute;
  left: 6px;
  width: 280px;
  height: 270px;
  background: url("../img/example/cat-fat-mobile-2x.png") no-repeat;
  background-size: 100%;
  @include media($md) {
    background: -webkit-image-set(
        url("../img/example/cat-fat-tablet-1x.png") 1x,
        url("../img/example/cat-fat-tablet-2x.webp") 2x
      )
      no-repeat;
    background: image-set(
        url("../img/example/cat-fat-tablet-1x.png") 1x,
        url("../img/example/cat-fat-tablet-2x.webp") 2x
      )
      no-repeat;
    width: 591px;
    height: 505px;
    top: 5px;
  }
}

.cat-slider {
  position: relative;
  height: 232px;
  width: 100%;
  display: flex;
}
.cat-slider__item {
  width: 50%;
  height: 100%;
  overflow: hidden;

}

.cat-slider__item--before {
}
.cat-slider__item--after {

  
}
.cat-slider__img {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
